doctype html
html(lang="en")
  head
    title= 'Slack'
    script.
      var gon = !{JSON.stringify(gon)};

    #app-container
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
